.formkit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formkit-wrapper {
    text-align: left;
}

label.formkit-label {
    text-align: left;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
}

input[type="text"].formkit-input,
input[type="password"].formkit-input,
input[type="email"].formkit-input,
input[type="number"].formkit-input,
input[type="datetime-local"].formkit-input,
input[type="file"].formkit-input,
textarea,
select.formkit-input  {
    background-color: var(--white-400);
    border-radius: var(--base-radius);
    border: 0;
    width: 100%;
    padding: 1rem;
    resize: none;
}

.formkit-messages {
    padding: 0;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 0;
    
    li {
        color: var(--asset-400);
        font-size: var(--font-size-sm);

        &::first-letter {
            text-transform: capitalize;
        }
    }
}

.formkit-form > .formkit-messages {
    text-align: center;
}

.formkit-outer:has(li[data-message-type="validation"]) input[type="text"],
.formkit-outer:has(li[data-message-type="validation"]) input[type="password"],
.formkit-outer:has(li[data-message-type="validation"]) input[type="email"],
.formkit-outer:has(li[data-message-type="validation"]) input[type="number"],
.formkit-outer:has(li[data-message-type="validation"]) input[type="datetime-local"],
.formkit-outer:has(li[data-message-type="validation"]) textarea,
.formkit-outer:has(li[data-message-type="validation"]) select {
    box-shadow: 0 0 0 3px var(--asset-400);
}


.form-upload {
    background-color: var(--asset-400);
    padding: 1rem;
    border-radius: var(--base-radius);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    input {
        display: none;
    }

    &:hover {
        background-color: var(--asset-400-hover);
    }
}

button.formkit-input[type="submit"]{
    width: 100%;
    padding: 0.8rem;
    border: 0;
    border-radius: var(--base-radius);
    background: var(--asset-400);
    color: var(--white-400);
    transition: background 0.3s ease;

    &:hover {
        background: var(--asset-400-hover)
    }

    &:disabled {
        background-color: var(--disabled-bg);
        cursor: not-allowed;

        &:hover {
            background-color: var(--disabled-bg-hover);
        }
    }
}

.formkit-submit-button {
    margin-top: 20px;
}

.formkit-select-icon, .formkit-no-files {
    display: none;
}

option:checked {
    background-color: var(--primary-400);
    color: var(--white-400);
}

.formkit-help {
    font-size: small;
    color: var(--asset-400);
    text-align: center;
}

.formkit-file-item-icon, .formkit-file-list {
    display: none;
}

.formkit-form[data-loading="true"]{
    pointer-events: none;
}